@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
/* @import url("https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Abackspace%3A"); */

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
}

body {
    background-color: lavender;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#calculator {
    border: 1px solid black;
    /* width: 450px; */
    padding: 20px 8px 8px 10px;
    background-color: #343742b0;
}

#display {
    /* width: 100%; */
    box-sizing: border-box;
    width: 354px;
    height: 68px;
    border: 3px solid black;
    margin: 10px auto;
    text-align: right;
    line-height: 68px; /*center the text horizontally */
    font-size: 1.5em;
    background-color: #dff1fcfd;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

#buttons {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 8px;
}

button {
    font-family: inherit;
    font-size: 1em;
    width: 81px;
    height: 68px;
    background-color: #dff1fcfd;
    border: 3px solid black;
    border-radius: 10%;
}

.non-operator {
    background-color: lightcoral;
}

#backspace > i {
    font-size: 1.4em;
    line-height: 60px;
}